$light-orange: rgba(191, 155, 48, 1);
$dark-orange: rgba(171, 125, 18, 1);
$red: rgba(224, 107, 94, 1);
$dark-red: rgba(204, 87, 74, 1);
$mid-grey: rgba(94, 94, 96, 0.5);

$dark-grey: rgba(54, 54, 55, 1);
$grey-outline: rgba(220, 220, 220, 1);
$light-grey: rgba(230, 230, 230, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$grey: rgba(68, 68, 68, 1);

$success-notifications: rgba(74, 162, 85, 1);
$danger-notifications: rgba(199, 66, 68, 1);
$warning-notifications: rgba(224, 149, 76, 1);
$info-notifications: rgba(61, 171, 197, 1);
